*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.background{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75),rgba(0, 0, 0, 0.75)),url("newimage.jpg");
    background-size: cover;
    background-position: center;

} 
.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0; 
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;

}
.navbar ul li:hover::after{
    width: 100%;
}
.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}
.content h1{
    font-size: 65px;
    margin-top: 40px;
}
.counter {
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
}
  
  @media screen and (max-width: 770px) {
    .navbar {
      float: none;
      width: 100%;
      margin-bottom: 10px;
      font-size: smaller;
    }
    .content h1 {
        font-size: 50px;
    }
    .navbar li:not(:last-child) {
        margin-bottom: 30px;
    }}



/*--AboutMe--*/

#AboutMe{
    width: 100%;
    padding: 70px 0;
    height: 500px;
}
.title-text{
    text-align: center;
    padding-bottom: 10px;
}
.title-text p{
    margin: auto;
    font-size: 40px;
    color: black;
    font-family: serif;
    font-weight: bold;
    position: relative;
    z-index: 1;
    display: inline-block;
}
.title-text h1{
    margin-top: 25px;
    font-size: 15px;
}
.AboutMe-box{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 15px;
    font-weight: 600;
}
.AboutMe-box h1{
    padding-bottom: 55px;
    font-size: 35px;
    padding-top: 30px;
}
.AboutMe-box p{
    margin-left: 23%;
    margin-right: 23%;
    font-weight: 450;
    font-size: 19px;
}

@media screen and (max-width: 770px) {
    .AboutMe-box h1{
        font-size: 30px;
        padding-top: 10px;
        margin-top: 10px;
    }
    .AboutMe-box p{
        font-size: 18px;
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 30px;
    }
}


/*--WorkExperience--*/

#WorkExperience{
    width: 100%;
    padding: 70px 0;
    height: 700px;
    background: #efefef;
}

.WE-box{
    text-align: center;
    padding-top: 30px;
    font-weight: 450;
    padding-left: 15%;
    padding-right: 15%;
}
.WE-title{
    text-align: center;
    padding-top:60px;
    font-size: 15px;
    padding-left: 20px;
    padding-right: 20px;
}

@media screen and (max-width: 770px){
    #WorkExperience{
        height: 975px;
    }
    .title-text p{
        font-size: 35px;
    }
    .WE-title{
        font-size: 13px;
    }
}

/*--Skills--*/

#Skills{
    width: 100%;
    padding: 70px 0;
    height: 500px;
}
.skill-box{
    width: 100%;
    margin-top: 40px;
    align-items: center;
}

.talent {  
    float: left;
    padding-left: 240px;
    margin-top: 70px;
    list-style: none;
    font-weight: 600;
    margin-bottom: 20px;
 }

 li:not(:last-child) {
    margin-bottom: 20px;
}

@media screen and (max-width: 770px) {
    #Skills{ 
        height: 600px;
    }
    .talent{
        margin-top: 20px;
        margin-bottom: 5px;
        padding-left: 30px;
        align-self:center;
    }
}


/*--Contact--*/

#Contact{
    height: 200px;
    width: 100%;
    background: #efefef;
}
.Contact-title{
    text-align: center;
    padding-top: 25px;
    font-weight: 600;
}
.Contact-title h1{
    padding-top: 20px;
    padding-bottom: 40px;
}


